<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scouting</title>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- map highlighting -->
  <script>
    $(document).ready(function () {
      $(".clickable_note").on("click", function (e) {
        e.preventDefault();
        // console.log(e.currentTarget);
        console.log(e.currentTarget.getAttribute("data-noteid"));
        let opac = getComputedStyle(e.target).getPropertyValue("opacity");
        e.target.style.opacity = (opac == 0) ? 0.7 : 0;
      });
    });   
  </script>


  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script>
    function addFormData() {
      // <input type="hidden" name="foo" value="bar" />
    }

    function onSelectionClick(e) {
      e.target.remove();
    }

    function hijack(e, data_div) {
      console.log(e);
      let i = document.createElement('img');

      // create plus sign
      i.src = '/static/plus.png';
      i.style.position = 'absolute';
      i.style.left = event.offsetX - 16 + 'px';
      i.style.top = event.offsetY - 16 + 'px';

      i.onclick = onSelectionClick;

      document.getElementById(data_div).appendChild(i);

      // submitForm();
    }

    function anadir(formData, data_div) {
      let width = document.getElementsByClassName("frcmap")[0].width
      let height = document.getElementsByClassName("frcmap")[0].height

      for (const i of document.getElementById(data_div).children) {
        let l = i.style.left;
        let t = i.style.top;

        l = Number(l.substring(0, l.length - 2)) + 16;
        t = Number(t.substring(0, t.length - 2)) + 16;

        formData.append(data_div, [l / width, t / height]);
      }
    }

    function err_msg_box(msg) {
      document.getElementById("msg").innerHTML = msg;
    }

    async function submitForm(e) {
      e.stopImmediatePropagation();
      e.preventDefault();
      e.stopImmediatePropagation();
      err_msg_box("");
      var formData = new FormData(document.getElementById("mainForm"));
      anadir(formData, "shot_locations_auton");
      anadir(formData, "shot_locations_teleop");

      for (const i of document.getElementsByClassName("clickable_note")) {
        if (i.children[0].style.opacity == 0) continue;
        formData.append("attempted_notes", i.getAttribute("data-noteid"));
      }

      // check data on server side


      var has_err = false;
      try {
        const response = await fetch(window.location.origin + "/post", {
          method: "POST",
          body: formData,
        })

        if (await response.status != 200) {
          has_err = true;
          alert("AN ERROR OCCURED: " + (await response.json())["message"]);
        } else {
          alert("Successfully sent Data!");
        }
      } catch (error) {
        has_err = true;
        alert("Error: " + error);
      }

      if (!has_err) {
        location.reload();
      }
    }

    function incrementInput(inputId) {
      document.getElementById(inputId).stepUp();
    }

  </script>

</head>

<style>
  .group label {
    font-size: 100px;
  }

  .frcmap {
    width: 100%;
  }

  .clickable_map {
    position: relative;
  }
</style>

<body>
  <div class="group">
    <label id="msg"></label>
  </div>
  <form onsubmit="submitForm(event); return false;" id="mainForm">
    <h1>General</h1>
    <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="Team #" min="0" aria-label="Team #" name="team_number"
        required>
    </div>
    <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="Match #" min="0" aria-label="Match #" name="match_number"
        required>
    </div>
    <div class="mb-3 form-check">
      <input type="hidden" value="off" name="is_qual">
      <input type="checkbox" class="form-check-input" id="Qual match?" name="is_qual" checked>
      <label class="form-check-label" for="Qual match?">Qualification match?</label>
    </div>
    <h1>Autonomous</h1>

    <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="Notes Scored" min="0" aria-label="Notes Scored"
        name="autoNotesScored" required id="autoNotesScored">
      <span class="input-group-text">/</span>
      <input type="number" class="form-control" placeholder="Notes Attempted" min="0" aria-label="Notes Attempted"
        name="autoNotesAttempted" required id="autoNotesAttempted">
    </div>

    <button type="button" class="btn btn-success btn-lg"
      onclick="incrementInput('autoNotesScored'); incrementInput('autoNotesAttempted')">Scored</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="incrementInput('autoNotesAttempted')">Missed</button>

    <h3>Select the Attempted Notes</h3>
    <div id="attempted_notes">
      <!-- <img src="/static/map.png" alt="FRC Map" usemap="#notemap" class="frcmap"> -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1920 1080">
        <image width="1920" height="1080" xlink:href="/static/map.png"></image> <a class="clickable_note" xlink:href=""
          data-noteid="1">
          <rect x="479" y="516" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="2">
          <rect x="479" y="638" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="3">
          <rect x="480" y="762" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="4">
          <rect x="935" y="231" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="8">
          <rect x="939" y="799" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="7">
          <rect x="939" y="660" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="6">
          <rect x="936" y="517" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="5">
          <rect x="936" y="371" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="9">
          <rect x="1394" y="513" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="10">
          <rect x="1395" y="636" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a><a class="clickable_note" xlink:href="" data-noteid="11">
          <rect x="1397" y="757" fill="#f00" style="opacity: 0;" width="50" height="50"></rect>
        </a>
      </svg>
    </div>

    <h3>Select where notes are shot from.</h3>
    <div class="clickable_map">
      <img src="/static/map.png" alt="FRC Map" onclick="hijack(event, 'shot_locations_auton')" class="frcmap">
      <div id="shot_locations_auton"></div>
    </div>

    <h1>Teleoperated</h1>

    <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="Notes Scored" min="0" aria-label="Notes Scored"
        name="teleNotesScored" required id="teleNotesScored">
      <span class="input-group-text">/</span>
      <input type="number" class="form-control" placeholder="Notes Attempted" min="0" aria-label="Notes Attempted"
        name="teleNotesAttempted" required id="teleNotesAttempted">
    </div>

    <button type="button" class="btn btn-success btn-lg"
      onclick="incrementInput('teleNotesScored'); incrementInput('teleNotesAttempted')">Scored</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="incrementInput('teleNotesAttempted')">Missed</button>

    <h3>Select where they can shoot the notes.</h3>
    <div class="clickable_map">
      <img src="/static/map.png" alt="FRC Map" onclick="hijack(event, 'shot_locations_teleop')" class="frcmap">
      <div id="shot_locations_teleop"></div>
    </div>

    <div class="mb-3 form-check">
      <input type="hidden" value="off" name="reliableAmpScoring">
      <input type="checkbox" class="form-check-input" id="reliableAmpScoring" name="reliableAmpScoring">
      <label class="form-check-label" for="reliableAmpScoring">Reliable amp Scoring?</label>
    </div>

    <div class="mb-3 form-check">
      <input type="hidden" value="off" name="isClimbing">
      <input type="checkbox" class="form-check-input" id="isClimbing" name="isClimbing">
      <label class="form-check-label" for="isClimbing">Climbing?</label>

      <div class="mb-3 form-check">
        <input type="hidden" value="off" name="isHarmony">
        <input type="checkbox" class="form-check-input" id="isHarmony" name="isHarmony">
        <label class="form-check-label" for="isHarmony">Harmony?</label>
      </div>
    </div>

    <div class="mb-3 form-check">
      <input type="hidden" value="off" name="isTrap">
      <input type="checkbox" class="form-check-input" id="isTrap" name="isTrap">
      <label class="form-check-label" for="isTrap">Trap?</label>
    </div>

    <div class="mb-3 form-check">
      <input type="hidden" value="off" name="isDefenseBot">
      <input type="checkbox" class="form-check-input" id="isDefenseBot" name="isDefenseBot">
      <label class="form-check-label" for="isDefenseBot">Defense Bot?</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>

</html>
